@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@100&family=New+Tegomin&family=Playfair+Display&display=swap');
body{
    margin: 0;
    padding: 0;
}

#game_body{
    background: url('images/wp9142232.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    height: 89vmin;
    width: 45vmax;
    background: linear-gradient(to bottom, #99ffcc 0%, #ccff33 100%);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    background: linear-gradient(to bottom, #006600 0%, #ffcc00 100%);
    margin-left: 60px;
    border: 0.4vmin solid black;
}

#logo{
    position: absolute;
    width: 45vmin;
    height: 20vmin;
    top: 0;
    left: 0;
}

.snake_head{
    background: linear-gradient(to bottom, #cc0000 0%, #ffff00 100%);
    border: 0.2vmin solid #009900;
    border-radius: 1.5vmin;
    transform: scale(1.3);
}

.snake_body{
    background: linear-gradient(to bottom, #009900 0%, #ffcc00 100%);
    border: 0.2vmin solid #009900;
    border-radius: 2vmin;
}

.food{
    background: linear-gradient(to bottom, #003300 0%, #669900 100%);
    border: 0.2vmin solid #669900;
    border-radius: 2vmin;
}

#scoreBoard{
    font-size: 7vmin;
    position: absolute;
    right: 8vmin;
    top: 5vmin;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    color: rgb(56, 4, 4);
}

#hiscoreBoard{
    font-size: 7vmin;
    position: absolute;
    right: 3.8vmin;
    top: 15vmin;
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    color: rgb(56, 4, 4);
}

/*
#level{
    font-size: 7vmin;
    font-family: 'New Tegomin', serif;
    right: 14vmin;
    position: absolute;
    top: 30vmin;
    font-weight: bolder;
}

.level_option_easy{
    font-size: 4vmin;
    font-family: 'New Tegomin', serif;
    right: 18vmin;
    position: absolute;
    top: 40vmin;
    font-weight: bolder;
}

.level_option_medium{
    font-size: 4vmin;
    font-family: 'New Tegomin', serif;
    right: 11vmin;
    position: absolute;
    top: 45vmin;
    font-weight: bolder;
}

.level_option_hard{
    font-size: 4vmin;
    font-family: 'New Tegomin', serif;
    right: 15vmin;
    position: absolute;
    top: 50vmin;
    font-weight: bolder;
}
*/