body{
    margin: 0;
    padding: 0;
}

#game_body{
    background: url('images/wp9142232.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    height: 89vmin;
    width: 45vmax;
    background: linear-gradient(to bottom, #99ffcc 0%, #ccff33 100%);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    background: linear-gradient(to bottom, #006600 0%, #ffcc00 100%);
    margin-left: 60px;
}

#logo{
    position: absolute;
    width: 45vmin;
    height: 20vmin;
    top: 0;
    left: 0;
}

.snake_head{
    background: red;
}

.snake_body{
    background: #ffcc00;
}

.food{
    background: cyan;
}